<% type_name = promotion_rule.class.name.demodulize.underscore %>

<apx-card class="dashed-card sub-card" id="<%= dom_id(promotion_rule) %>">
  <apx-header>
    <div class="flex-fill">
      <h5>
        <%= I18n.t("aypex.admin.#{type_name}") %>
      </h5>
    </div>

    <div>
      <%= link_to_with_icon nil, aypex.admin_promotion_promotion_rule_path(@promotion, promotion_rule), data: { turbo_method: :delete }, class: 'btn btn-secondary btn-sm me-0', icon: 'x-lg.svg', no_text: true %>
    </div>
  </apx-header>

  <apx-body>
    <%= render partial: "aypex/admin/promotions/rules/#{type_name}", locals: { promotion_rule: promotion_rule } %>
  </apx-body>
</apx-card>
