.btn {
  svg {
    vertical-align: text-bottom;
    margin-bottom: 1px;
  }
}

.btn-aypex {
  // Standard
  --bs-btn-color: var(--bs-secondary-color);
  --bs-btn-bg: var(--bs-tertiary-bg);
  --bs-btn-border-color: var(--bs-tertiary-bg);

  // Hover
  --bs-btn-hover-color: var(--bs-secondary-color);
  --bs-btn-hover-bg: var(--bs-secondary-bg);
  --bs-btn-hover-border-color: var(--bs-secondary-bg);

  // Focus
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

  // Active
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-active-bg: var(--bs-secondary-bg);
  --bs-btn-active-border-color: var(--bs-secondary-bg);
}

.form-control {
  &:not(:disabled, [readonly])::file-selector-button {
    @extend .btn-secondary;

    margin-top: -6px;
    padding-bottom: 0;
    padding-top: 0;
    height: 54px;
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
  }

  &:hover:not(:disabled, [readonly])::file-selector-button {
    @extend .btn-secondary;

    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
  }
}

.with-active-indicator-bar {
  &.at-the-top {
    a {
      @extend .btn-secondary;

      border-width: 0;
      border-radius: 0;
      position: relative;
      background-color: transparent;
      color: var(--bs-btn-color);
      padding: 0.75rem;
      text-decoration: none;
      overflow: hidden;

      &:hover {
        color: var(--bs-btn-hover-color);

        &::before {
          content: '';
          height: 4px;
          width: 100%;
          background-color: var(--bs-secondary);
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      &.active::before {
        content: '';
        height: 4px;
        width: 100%;
        background-color: var(--bs-primary);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  &.at-the-bottom {
    /* stylelint-disable-next-line no-descending-specificity */
    a {
      @extend .btn-secondary;

      border-width: 0;
      border-radius: 0;
      position: relative;
      background-color: transparent;
      color: var(--bs-btn-color);
      padding: 0.75rem;
      text-decoration: none;
      overflow: hidden;

      &:hover {
        color: var(--bs-btn-hover-color);

        &::before {
          content: '';
          height: 4px;
          width: 100%;
          background-color: var(--bs-secondary);
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      &.active::before {
        content: '';
        height: 4px;
        width: 100%;
        background-color: var(--bs-primary);
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}
