.card {
  --bs-card-bg: var(--bs-tertiary-bg);
  --bs-card-spacer-x: 0.75rem;
  --bs-card-border-width: 0;

  margin-bottom: 1rem !important;
  box-shadow: 0 ;

  &-body {
    padding-top: .5rem;
  }

  &-footer {
    background-color: inherit;
    border-top: none;
  }

  &-header {
    --bs-card-cap-padding-x: var(--bs-card-spacer-x);

    background-color: inherit;
    border-bottom: none;
    min-height: 47px;
  }

  &-title {
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    padding-left: 10px;

    // &::before {
    //   background-color: var(--bs-primary);
    //   content: "";
    //   height: 100%;
    //   width: 6px;
    //   position: absolute;
    //   border-radius: 3px;
    //   left: 0;
    // }
  }
}

apx-card {
  display: block;
  @extend .card;

  apx-header {
    display: flex;
    @extend .card-header;

    h5:first-of-type {
      flex: 1 1 auto !important;
      margin-bottom: 0;
    }

    nav-pills {
      display: flex;
      @extend .card-header-pills;
      @extend .nav-pills;
      @extend .nav;

      a {
        border: 0 !important;
        position: relative;
        background: transparent !important;
        color: var(--bs-dark);
        padding: 0.75rem;
        text-decoration: none;

        &.active::before {
          content: '';
          height: 4px;
          width: 100%;
          background: var(--bs-primary);
          position: absolute;
          left: 0;
          bottom: -1px;
        }
      }
    }
  }

  apx-body {
    display: block;
    @extend .card-body;
  }

  apx-footer {
    display: block;
    @extend .card-footer;
  }
}
