#nav-header {
  height: var(--nav-bar-height);
}

content-header {
  height: 60px;
  overflow-y: scroll;

  h4 > a {
    text-decoration: none;
    color: var(--bs-primary);
  }

  #content-nav-inner-container {
    min-width: max-content;
  }
}
