#nav-header {
  height: var(--nav-bar-height);
}

#content-header {
  background-color: var(--sa-navbar-bg);
  box-shadow: var(--sa-navbar-box-shadow);
  z-index: 1040;
  height: 60px;
  width: 100%;
  overflow-y: scroll;

  h4 > a {
    text-decoration: none;
    color: var(--bs-primary);
  }

  #content-nav-inner-container {
    min-width: max-content;
  }
}
