aside#main-sidebar {
  --icon-rotation: rotate(180deg);
  --icon-transtition:0.3s ease-in-out;

  overflow-y: auto;

  #nav-header {
    z-index: 1042;
  }

  #nav-footer {
    height: var(--nav-bar-height);
  }

  #carousel-main-navigation {
    margin-bottom: var(--nav-bar-height);
    margin-top: 100px;
  }

  ul {
    &.active-option {
      .drop-menu-indicator {
        transform: var(--icon-rotation);
      }
    }

    >li {
      > a {
        color: var(--bs-body-color);
        text-decoration: none;

        /* stylelint-disable-next-line no-descending-specificity */
        .drop-menu-indicator {
          color: var(--bs-tertiary-color);
          right: 0;
        }

        &[aria-expanded='true'] {
          .drop-menu-indicator {
            transform: var(--icon-rotation);
            transition: var(--icon-transtition);
          }
        }

        &[aria-expanded='false'] {
          .drop-menu-indicator {
            transform: rotate(0deg);
            transition: var(--icon-transtition);
          }
        }
      }

      &.selected {
        > a {
          background-color: var(--bs-secondary-bg);
          color: var(--bs-primary-text-emphasis);
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  aside#main-sidebar {
    width: 50%;
  }
}

@include media-breakpoint-up(lg) {
  aside#main-sidebar {
    left: 0;
    z-index: 999;
    width: 25%;
    transition: none;

    body.sidebar-open {
      aside#main-sidebar {
        left: 0;
        transition: none;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  aside#main-sidebar {
    width: 16.6667%;
  }
}
