table {
  > thead {
    @extend .text-body-secondary;
  }

  &.table {
    &:last-child {
      margin-bottom: 0;
    }

    > tbody > tr:last-child {
      border-color: transparent;
    }
  }
}

g-table {
  --gridtable-color: #{$table-color};
  --gridtable-bg: #{$table-bg};
  --gridtable-border-color: #{$table-border-color};
  --gridtable-accent-bg: #{$table-accent-bg};
  --gridtable-active-color: #{$table-active-color};
  --gridtable-active-bg: #{$table-active-bg};
  --gridtable-hover-color: #{$table-hover-color};
  --gridtable-hover-bg: #{$table-hover-bg};
  --gridtable-cell-padding-x: #{$table-cell-padding-x};
  --gridtable-cell-padding-y: #{$table-cell-padding-y};

  overflow: hidden;

  g-tr > a {
    text-decoration: none;
  }
}

g-thead {
  @extend .text-body-secondary;
}

/* stylelint-disable-next-line selector-class-pattern */
.sort_link {
  text-decoration: none;
}

.ransack-filter-arrow {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.filters-in-use-container {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: var(--bs-white)
    }
  }
}
