/* stylelint-disable selector-class-pattern */

:root body.admin {
  --nav-bar-height: 54px;
  --bs-border-radius: 7.5px;

  // .badge {
  //   @extend .rgb-hsl-base-presets;

  //    --bs-badge-font-weight: 300;

  //   background-color: var(--hsla-hover-bg);
  //   color: var(--hsla-hover-color);
  //   border-color: var(--hsla-active-bg);
  //   border-width: 1px;
  //   border-style: solid;
  // }

  // .btn[disabled],
  // a.disabled {
  //   pointer-events: none;
  // }

    @each $state in map-keys($theme-colors) {
    .call-out-#{$state} {
      --#{$prefix}call-out-color: var(--#{$prefix}#{$state}-text-emphasis);
      --#{$prefix}call-out-bg: var(--#{$prefix}#{$state}-bg-subtle);
      --#{$prefix}call-out-border: var(--#{$prefix}#{$state}-border-subtle);
    }
  }

  .call-out {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--#{$prefix}call-out-color, inherit);
    background-color: var(--#{$prefix}call-out-bg, var(--#{$prefix}gray-100));
    border-left: 0.25rem solid var(--#{$prefix}call-out-border, var(--#{$prefix}gray-300));
  }

  // .carousel-item {
  //   transition: transform .2s ease-in-out;
  // }

  // .dropdown-menu {
  //   --bs-dropdown-item-padding-x: .5rem;
  //   --bs-dropdown-item-padding-y: .5rem;
  //   --bs-dropdown-padding-x: .5rem;
  //   --bs-dropdown-padding-y: .5rem;
  // }

  // .modal {
  //   --bs-modal-footer-gap: 0.5rem;
  // }

  // .offcanvas {
  //   --bs-offcanvas-height: 90vh;
  // }

  // .dashed-card,
  // .card-body>.card {
  //   border-style: dashed !important;
  //   border-width: 1px !important;
  //   border-color: var(--bs-gray-500) !important;
  //   box-shadow: none;
  // }

  // .shim-bottom {
  //   margin-bottom: 2px;
  // }

  .aypex-logo a {
    color: var(--bs-primary);
  }

  // .sub-card {
  //   background-color: var(--bs-gray-100);
  // }

  // table.table tr:last-child td {
  //   border-bottom: none;
  // }

  // .toast {
  //   --bs-toast-font-size: 0.95rem;

  //   &.success,
  //   &.notice {
  //     --bs-toast-bg: rgb(0 0 0 / 100%);
  //     --bs-toast-color: rgb(255 255 255 / 100%);
  //     --bs-toast-border-color: rgb(0 0 0 / 100%);
  //   }

  //   &.error {
  //     --bs-toast-bg: rgb(var(--bs-danger-rgb));
  //     --bs-toast-color: rgb(var(--bs-white-rgb));
  //     --bs-toast-border-color: rgb(var(--bs-danger-rgb));
  //   }
  // }
}
