<div data-hook="admin_inside_base_category_form" class="form-group">
  <%= f.field_container :name do %>
    <%= f.text_field :name, required: true %>
    <%= f.label :name, raw(Aypex.t(:name) + required_span_tag) %>
  <% end %>
</div>
