<% content_for :breadcrumb do %>
  <%= breadcrumb_builder(current_page_name: I18n.t('aypex.admin.categories')) %>
<% end %>

<% if @base_categories.any? %>
  <div id="list-base_categories" data-hook>
    <%= render 'list' %>
  </div>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= I18n.t("aypex.admin.no_resource_found", resource: plural_resource_name(Aypex::BaseCategory)) %>,
    <%= link_to I18n.t("aypex.admin.add_one"), new_object_url if can?(:create, Aypex::BaseCategory) %>!
  </div>
<% end %>
