<div class="d-grid gap-2 p-2 position-relative">
  <%= form_with model: [:admin, @cms_section], scope: :cms_section, url: aypex.admin_cms_page_cms_section_path(@cms_page, @cms_section), data: {turbo_frame: :cms_container_settings}, method: :patch do |f| %>
    <% if @cms_section.type.present? %>
      <div id="CmsSectionType"
           data-hook="admin_cms_section_form_fields"
           data-panel-section-type="<%= @cms_section.type %>">
        <div class="row">
          <div class="col-12">
            <% if @cms_section.type.present? %>
              <%= render "aypex/admin/cms_sections/types/#{aypex_resource_path(@cms_section)}", f: f %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
