<%= turbo_frame_tag :sections do %>
  <div class="d-grid gap-2 p-2 position-relative">
    <%= form_with model: [:admin, @cms_section], scope: :cms_section, url: aypex.admin_cms_page_cms_section_path(@cms_page, @cms_section), data: {turbo_frame: :cms_container_settings}, method: :patch do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

  <div class="position-absolute top-0 bg-body border-bottom border-end" style="z-index: 1041; height: 60px; width: calc(25%);">
    <div class="d-grid gap-2 p-2">
      <%= yield :side_bar_title %>
    </div>
  </div>
<% end %>
