<dialog id="custom-turbo-confirm" class="bg-body">
  <form method="dialog" class="modal-content">
    <div class="modal-body">
      <p><%= I18n.t("aypex.admin.are_you_sure") %></p>
    </div>

    <div class="modal-footer row">
      <div class="col">
        <button value="cancel" class="btn btn-aypex w-100"><%= I18n.t("aypex.admin.cancel") %></button>
      </div>
      <div class="col">
        <button value="confirm" class="btn btn-danger w-100"><%= I18n.t("aypex.admin.confirm") %></button>
      </div>
    </div>
  </form>
</dialog>
