<div id="mobile-buttons"
     class="btn-group shadow position-fixed bottom-0 left-0 mb-4 ms-2 d-lg-none bg-body">
  <button id="sidebar-open"
          class="btn btn-aypex"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="aside#main-sidebar"
          aria-controls="main-sidebar">
    <%= aypex_admin_svg_tag "list.svg", size: '16px * 16px' %>
  </button>

  <button id="search-open"
          class="btn btn-aypex"
          type="button"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <%= aypex_admin_svg_tag "search.svg", size: '16px * 16px' %>
  </button>
</div>
