<div class="thumbnail-image-container large-img rounded bg-body border p-2">
  <div class="d-flex align-iten-center rounded bg-secondary w-100 h-100 overflow-hidden">
    <%= image_tag asset.generate_url(width: 250), class: "object-fit-contain"  %>
  </div>
</div>
