turbo-frame[complete] {
  /* stylelint-disable-next-line selector-class-pattern */
  .turbo_frame_loading_placeholder {
    display: none;
  }
}

.admin-img-holder {
  max-width: 150px;
  max-height: 150px;
  border: 2px dashed var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  overflow: hidden;
  display: inline-block;

  img {
    max-width: 100%;
    height: auto;
  }
}

#logo {
  width: auto;
  height: 36px;
}

#mobile-buttons {
  z-index: 1000;
}

.thumbnail-image-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: var(--apx-thumbnail-width);
  max-height: var(--apx-thumbnail-height);

  a {
    display: flex;
  }

  img {
    max-width: 100%;
    height: auto;
    align-self: center;
    transform: scale( var(--apx-tmb-scale) );
  }

  svg {
    color: var(--bs-gray-600);
    align-self: center;
  }
}

.move-handle {
  width: 40px;
  height: 40px;
  cursor: grab;
}

[data-show-info] {
  color: var(--bs-primary);
  cursor: pointer;
}

[data-stream-exit-class] {
  animation-duration: .5s;
  animation-fill-mode: both;
}

dialog#custom-turbo-confirm {
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

@include media-breakpoint-down(sm) {
  .sm-h6 {
    font-size: 1rem;
  }
}
